@import "../../styles/base";

.main-modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.is-open {
    display: flex;
}

.modal-content {
    min-width: 40%;
    min-height: 20vh;
    background: $white;
    border-radius: 5px;
    box-shadow: 3px 5px 15px $black;
}